*~
/.emacs.d/auto-save-list/
copyninja-emacs.el
/.emacs.d/elpa/
/.emacs.d/url/
/.emacs.d/ac-comphist.dat
/.emacs.d/ido.last
/.emacs.d/tramp
/.emacs.d/todo/
/.emacs.d/bookmarks
/.emacs.d/copyninja-eshell.el
/.emacs.d/emms/cache
