*~
/.emacs.d/auto-save-list/
copyninja-emacs.el
/.emacs.d/elpa/
/.emacs.d/url/
/.emacs.d/ac-comphist.dat
/.emacs.d/ido.last
/.emacs.d/tramp
/.emacs.d/todo/
/.emacs.d/bookmarks
/.emacs.d/copyninja-eshell.el
/.emacs.d/emms/cache
/.emacs.d/places
/.emacs.d/emms/history
/.emacs.d/customfunc.el
/.emacs.d/emms.el
/.emacs.d/eshell.el
/.emacs.d/eshell/
/.emacs.d/kbdshrtcut.el
/.emacs.d/orgcust.el
/.emacs.d/programming.el
/.emacs.d/smtpconf.el
/.emacs.d/ui.el
/.emacs.d/windows.el
/.emacs.d/gnus-conf.el
/.emacs.d/network-security.data
